<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogAPP.styles.css" asp-append-version="true" />
    <link rel="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <script src="https://cdn.tiny.cloud/1/bsrbr6gvkuc6kvcsxaeeqlhisbvixh6j058pxjjhubkb5dpf/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/logo.png" class="rounded-circle" style="width: 95px; height: 95px; object-fit: cover;" /></a>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between fs-5">
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                         
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                         
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="UpSert">Share Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="UserBlogs">My Blogs</a>
                            </li>                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"><i class="bi bi-person-fill-lock"></i> Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Register"><i class="bi bi-person-video2"></i> Register</a>
                            </li>
                           
                                <li class="nav-item">
                                    <form class="form-inline" asp-controller="Account" asp-action="Logout"></form>
                                    <button type="submit" class="nav-link text-dark"><i class="bi bi-person-video2"></i> Logout</button>
                                </li>
                            

                        </ul>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
         <div class="container text-center">
            &copy; @DateTime.Now.Year - Made with <i class="bi bi-envelope-paper-heart"></i> by Merve Yavuz - 
        </div>
        <div class="container text-center">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
