@model List<BlogAPP.Models.Comment>

<div class="comment-top p-2 rounded-1 mt-3" style="background-color:#eee9e9;">
	<h4>Comments</h4>
	@if (Model != null && Model.Any())
	{
		@foreach (var comment in Model)
		{
			<div class="media mt-3 d-flex justify-content-start p-2">

			<span class="fs-1"><i class="bi bi-chat-right-quote-fill"></i> </span>
			<div class="media-body ms-3 border p-1">
				<div class="d-flex justify-content-between border-bottom">
					<h5 class="mt-0 ">@comment.CommentUserName</h5>
					<span><i class="bi bi-suit-heart"></i></span>
				</div>
			<p class="mt-2">
				@comment.CommentContent
			</p>

		</div>
			</div>}
	}
	else
	{
		<div class="media mt-3 d-flex justify-content-start p-2">
		<span class="fs-1"><i class="bi bi-chat-right-quote-fill"></i> </span>
		<div class="media-body ms-3 border p-1">
		<h4 class="text-center">There aren't comments on this blog yet. Be the first to comment. <i class="bi bi-emoji-smile"></i> </h4></div>
		</div>
	}
</div>

