<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link"  asp-controller="Blog" asp-action="BlogListByWriter" aria-expanded="false" aria-controls="icons">
                <span class="menu-title">My Blogs</span>
                <i class="mdi mdi-book-edit menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="UpSert" asp-route-isAdmin="true" aria-expanded="false" aria-controls="forms">
                <span class="menu-title">New Blog</span>
                <i class="mdi mdi-plus-box menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="Index" asp-route-isAdmin="true" aria-expanded="false" aria-controls="charts">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-account-group menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="GetAllBlogs" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Users' Blog</span>
                <i class="mdi mdi-book-multiple menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Go to website</span>
                <i class="mdi mdi-web menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" asp-controller="Login" asp-action="LogOut" aria-expanded="false" aria-controls="tables">
                <span class="menu-title">Log Out</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>

        </li>
        
    </ul>
</nav>