@model BlogAPP.Models.Comment
<form method="post">
    <input type="hidden" asp-for="CommentID" value="@Model.CommentID" />

    <input type="hidden" asp-for="BlogID" value="@Model.BlogID" />
    <input class="form-control" type="text" asp-for="CommentUserName" placeholder="Name" required="">
    <textarea class="form-control" asp-for="CommentContent" placeholder="Message..." required=""></textarea>
    <input type="hidden" asp-for="Created_at"  />
    <button type="submit" class="btn btn-primary submit">Submit</button>
</form>
