
<form method="post">
    <input type="hidden" name="BlogID" />
    <input class="form-control" type="text" name="CommentUserName"  placeholder="Name" required="">
    <textarea class="form-control" name="CommentContent" placeholder="Message..." required=""></textarea>
  
    <button type="submit" class="btn btn-primary submit">Submit</button>
</form>
