@model BlogAPP.Models.Comment

<form asp-action="AddComment" asp-controller="Comment" method="post">
    <input type="hidden" asp-for="BlogID" value="@Model.BlogID" />
    <input class="form-control" type="text" asp-for="CommentUserName" placeholder="Name" required="">
    <textarea class="form-control" asp-for="CommentContent" placeholder="Message..." required=""></textarea>
    <button type="submit" class="btn btn-primary submit">Submit</button>
</form>
